---
// Content for the "Meet me!" section
import Button from "../../common/Button.astro";

const resumeUrl = "/resume";
// const contactUrl = "/contact";
---

<h2 slot="title" class="about-title scroll-target-title">About me</h2>

<div class="about-content scroll-target-content">
  <p>
    Welcome to Mai (My) portfolio! I am recent computer science graduate with a passion for experimenting with new ideas. 
    Here you will find my projects and experiences that continously allow me to explore new technologies. 
  </p>

  <p>
  My academic
    background and personal projects have given me experiences in programming, databses, and software development -
    and I am excited to bring that knowledge to real-world projects.
  </p>


  <div class="button-group">
    <Button
      class="button"
      href={resumeUrl}
      text="View My Résumé"
      wrapperClass="meet-me-cta-button"
    />
  </div>
</div>

<style>
  .button-group {
    display: flex;
    gap: 1rem; /* Adjust spacing as needed */
    margin-top: 2rem;
  }
</style>
